
/real_data/breast_gene_cluster/result_data/


/simulations/req_lib/

/simulations/mvn_comp/output_exps/
/simulations/mvn_comp/txt_exps/
/simulations/mvn_comp/output_full/
/simulations/mvn_comp/txt_full/

/simulations/mvn_supps/output_exps/
/simulations/mvn_supps/txt_exps/
/simulations/mvn_supps/output_full/
/simulations/mvn_supps/txt_full/

/simulations/mvt5_comp/output_exps/
/simulations/mvt5_comp/txt_exps/
/simulations/mvt5_comp/output_full/
/simulations/mvt5_comp/txt_full/
